.navbar {
    font-family: "Teko", sans-serif !important;
}
.nav-link{
    font-size: 1.2rem !important;
    font-weight: 500 !important;
}
.sticky-top.scrolled{
    background-color: #fff !important;
    box-shadow: 0 1px 5px #00000033;
    transition: all 200ms linear;
}
.sticky-top.scrolled.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1.5rem 1.7rem !important;
}
.nav-link:focus,
.nav-link:hover {
    color:#f4c29a !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #fff !important;
    background-color: #f4c29a;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 2rem 1.7rem !important;
    transition: ALL 200ms linear !important;
    
}
.dropdown-menu{
    width: 20vw;
}
.modal {
    
    --bs-modal-bg: #000 !important;
    opacity: 0.7;

}
.navbar .badge{
    
            --bs-badge-padding-x: 0.65em;
            --bs-badge-padding-y: 0.40em;
            --bs-badge-font-size: 0.5em !important;
            --bs-badge-font-weight: 700;
            
        
}




